@import "tailwindcss";

@theme {
  --color-primary: #1F5D42;
  --color-primary-dark: #164430;
  --color-primary-light: #F1F6F1;
  --color-accent: #D98B3A;
  --color-accent-hover: #C47A2D;
  --color-accent-light: #FFF9F0;
  --color-bg-body: #F8F9FA;
  --color-text-dark: #24332B;

  --font-heading: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body), sans-serif;
  background-color: var(--color-bg-body);
  color: var(--color-text-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}
